<footer class="gh-footer outer">
  <div class="site-footer-content inner">
    <nav class="site-footer-nav">
      {{navigation type="secondary"}}
      <div class="footer-icons">
        {{> footer-icons}}
      </div>
    </nav>
    <section class="copyright">{{@site.title}} &copy; 2017&ndash;{{date format="YYYY"}}. Все&nbsp;права&nbsp;защищены. Работает&nbsp;на&nbsp;<a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></section>
  </div>
</footer>