{{!-- <a href="https://vk.com/somexprt" target="_blank" aria-label="link VK">{{>icons/social/vk}}</a> --}}
{{!-- <a href="https://fb.me/somexprt" target="_blank" aria-label="link Facebook">{{>icons/social/facebook}}</a> --}}
<a href="https://twitter.com/somexprt" target="_blank" aria-label="link Twitter">{{>icons/social/twitter}}</a>
<a href="https://t.me/soexfeed" target="_blank" aria-label="link Telegram">{{>icons/social/telegram}}</a>
<a href="https://instagram.com/somexprt" target="_blank" aria-label="link Instagram">{{>icons/social/instagram}}</a>
<a href="https://www.youtube.com/channel/UCU-bvLYqrV-YIRAd5kX5EVA" target="_blank" aria-label="link YouTube">{{>icons/social/youtube}}</a>
{{!-- <a href="#" target="_blank" aria-label="link Yandex Zen">{{>icons/social/zen}}</a> --}}