<div class="next-feed-nav{{#is "paged"}} next-page{{/is}}">
  {{pagination}}
</div>

<div class="post-feed">
  {{#foreach posts}}
  {{> post-card}}
  {{/foreach}}
</div>

<div class="prev-feed-nav{{#is "paged"}} prev-page{{/is}}">
  {{pagination}}
</div>