<div class="pagination-section">
	{{#if next}}
	<div class="pagination-wrap">
		<a href="{{page_url next}}" id="next-page"></a>
		<button class="load-more btn" aria-label="Ещё">Ещё</button>
	</div>
	{{/if}}
</div>