<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts btn" href="{{page_url prev}}">Позже</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts btn" href="{{page_url next}}">Раньше</a>
    {{/if}}
</nav>
