<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <nav class="site-footer-nav">
      {{#if @site.secondary_navigation}}
			{{navigation type="secondary"}}
			{{/if}}
      <div class="footer-icons">
        {{> footer-icons}}
      </div>
    </nav>
    <section class="copyright">&copy; 2017&ndash;{{date format="YYYY"}}. Все права защищены. Работает на&nbsp;<a href="https://ghost.org">Ghost</a></section>
  </div>
</footer>