/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

0.  Fonts Setup
1.  Global Styles
2.  Layout
3.  Special Templates
4.  Site Header
5.  Site Navigation
6.  Post Feed
7.  Single Post
  7.1. Post Byline
  7.2. Members Subscribe Form
  7.4. Related Posts
  7.5. Koenig Styles
8.  Author Template
9.  Error Template
11. Site Footer
12. Dark Mode

*/

/* 0. Fonts Setup
/* ---------------------------------------------------------- */

/* Serif Font */
@font-face {
    font-family: 'am-serif';
    src: url('../fonts/am-serif/am-serif.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'am-serif';
    src: url('../fonts/am-serif/am-serif-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'am-serif';
    src: url('../fonts/am-serif/am-serif-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'am-serif';
    src: url('../fonts/am-serif/am-serif-bolditalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Monospace Font */
@font-face {
    font-family: 'am-mono';
    src: url('../fonts/am-mono/am-mono.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}table{border-spacing:0;border-collapse:collapse}img{max-width:100%;height:auto}html{box-sizing:border-box;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}*,*:before,*:after{box-sizing:inherit}a{background-color:transparent}a:active,a:hover{outline:0}b,strong{font-weight:700}i,em,dfn{font-style:italic}h1{margin:.67em 0;font-size:2em}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}mark{background-color:#fdffb6}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit}button{overflow:visible;border:none}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}input:focus{outline:none}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{box-sizing:content-box;-webkit-appearance:textfield}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}legend{padding:0;border:0}textarea{overflow:auto}table{border-spacing:0;border-collapse:collapse}td,th{padding:0}

/* Variables */
:root {

    /* Base Colors */
    --color-blue: #2a72db;
    --color-green: #a4d037;
    --color-yellow: #ffd600;
    --color-red: #f05230;
    --color-darkest: #151718;
    --color-darkgrey: #15171a;
    --color-midgrey: #738a94;
    --color-lightgrey: #c5d2d9;
    --color-wash: #e5eff5;

    /* Light Mode Colors */
    --color-foreground: var(--color-darkgrey);
    --color-background: #fff;

    --color-link: var(--color-blue);
    --color-link-hover: var(--color-red);

    --color-smooth-accent: var(--color-midgrey);
    --color-border: color-mod(var(--color-smooth-accent) l(+40%));
    --color-highlight: color-mod(var(--color-yellow) a(.2));

    --color-code-background: color-mod(var(--color-smooth-accent) l(+43%));
    --color-pre-foreground: var(--color-wash);
    --color-pre-background: color-mod(var(--color-darkgrey) l(-2%));

    --color-btn-foreground: color-mod(var(--color-smooth-accent) l(+5%));
    --color-btn-background: var(--color-lightgrey);

    /* Social Colors */
    --color-fb: #1877f2;
    --color-vk: #4680c2;
    --color-tw: #1da1f2;
    --color-tg: #2ca5e0;
    --share-btn-blend: a(.2);

    /* Header Cover */
    --opacity-bg-site-image: 0.12;
    --overlay-bg-image: 255, 255, 255;

    /* Others */
    --width-mini-cover: 120px;

    /* Fonts */
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
    --font-serif: 'am-serif', Georgia, Times, serif;
    --font-mono: 'am-mono', Menlo, Courier, monospace;

    /* Animations */
    --link-animation: all ease-in-out .2s;

}

@media (prefers-color-scheme:dark) {
    :root {
 
        /* Dark Mode Colors */
        --color-foreground: color-mod(#fff a(.9));
        --color-background: var(--color-darkest);

        --color-link: color-mod(var(--color-blue) l(+10%));
        --color-link-hover: var(--color-red);

        --color-smooth-accent: color-mod(#fff a(.5));
        --color-border: color-mod(var(--color-smooth-accent) a(.3));
        --color-highlight: color-mod(var(--color-lightgrey) a(.2));

        --color-code-background: color-mod(var(--color-lightgrey) a(.2));
        --color-pre-foreground: var(--color-foreground);
        --color-pre-background: color-mod(var(--color-darkest) l(-4%));

        --color-btn-foreground: color-mod(var(--color-lightgrey) l(+5%));
        --color-btn-background: var(--color-wash);

        --share-btn-blend: a(.5);

        /* Header Cover */
        --opacity-bg-site-image: 0.1;
        --overlay-bg-image: 21, 23, 24;

    }

    .gh-content img,
    .gh-content .kg-embed-card {
        opacity: .9;
    }
}

/* Base styles: opinionated defaults */
html{font-size:62.5%;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{color:var(--color-foreground);font-family:var(--font-sans-serif);font-size:1.8rem;line-height:1.6em;font-weight:400;font-style:normal;letter-spacing:.01em;text-rendering:optimizeLegibility;background:var(--color-background);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:"liga" on}::selection{text-shadow:none;background:#c3ecff}hr{position:relative;display:block;width:100%;margin:2.5em 0 3.5em;padding:0;height:1px;border:0;border-top:1px solid var(--color-border)}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{margin:0;padding:0;border:0}textarea{resize:vertical}::not(.gh-content) p,::not(.gh-content) ul,::not(.gh-content) ol,::not(.gh-content) dl,::not(.gh-content) blockquote{margin:0 0 1.5em 0}ol,ul{padding-left:1.3em;padding-right:1.5em}ol ol,ul ul,ul ol,ol ul{margin:.5em 0 1em}ul{list-style:disc}ol{list-style:decimal}ul,ol{max-width:100%}li{margin:.5em 0;padding-left:.3em;line-height:1.6em}dt{float:left;margin:0 20px 0 0;width:120px;color:#daf2fd;font-weight:500;text-align:right}dd{margin:0 0 5px 0;text-align:left}blockquote{margin:1.5em 0;padding:0 1.6em 0 1.6em;border-left:#daf2fd}blockquote p{margin:.8em 0;font-size:1.2em;line-height:1.4em;font-weight:300}blockquote small{display:inline-block;margin:.8em 0 .8em 1.5em;font-size:.9em;opacity:.8}blockquote small:before{content:"\2014 \00A0"}blockquote cite{font-weight:600;font-family:var(--font-sans-serif);font-style:normal;font-size:.9em;}blockquote cite a{font-weight:400}a{color:var(--color-link);text-decoration:none;transition:var(--link-animation);}a:hover,a.hover{transition:var(--link-animation);}h1,h2,h3,h4,h5,h6{margin-top:0;line-height:1.15;font-weight:600;text-rendering:optimizeLegibility;letter-spacing:-.01em}h1{margin:0 0 .5em 0;font-size:4.2rem;font-weight:800;letter-spacing:-.01em}@media (max-width:600px){h1{font-size:2.8rem}}h2{margin:1.5em 0 .5em 0;font-size:3.2rem;font-weight:800}@media (max-width:600px){h2{font-size:2.6rem}}h3{margin:1.5em 0 .5em 0;font-size:2.8rem;font-weight:800}@media (max-width:600px){h3{font-size:2.4rem}}h4{margin:1.5em 0 .5em 0;font-size:2.4rem;font-weight:800}@media (max-width:600px){h4{font-size:2.2rem}}h5{margin:1.5em 0 .5em 0;font-size:2rem;font-weight:800}@media (max-width:600px){h5{font-size:2rem}}h6{margin:1.5em 0 .5em 0;font-size:2rem}@media (max-width:600px){h6{font-size:1.8rem}}code,kbd,pre,samp{font-family:var(--font-mono);}


/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Full width page blocks */
.outer {
    position: relative;
    padding: 0 4vmin;
}

/* Centered content container blocks */
.inner {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
}


/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header {
    position: relative;
    color: var(--color-foreground);
}

.site-title {
    z-index: 10;
    margin: 0;
    padding: 0;
}

.site-logo {
    margin-right: 0.7em;
}

/* Image
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
.global-image img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.gh-head-bg-image {
    background: no-repeat center center/cover;
}

/* Cover
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
.gh-head-cover {
    z-index: -3;
    width: 100%;
    height: 320px;
    opacity: var(--opacity-bg-site-image);
}

.gh-head-cover,
.gh-head-cover::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gh-head-cover::before {
    z-index: 1;
    content: '';
    background-image: linear-gradient(to top, rgb(var(--overlay-bg-image)), rgba(var(--overlay-bg-image), .94505) 7.9%, rgba(var(--overlay-bg-image), .88294) 15.3%, rgba(var(--overlay-bg-image), .81522) 22.2%, rgba(var(--overlay-bg-image), .7426) 28.7%, rgba(var(--overlay-bg-image), .66692) 34.8%, rgba(var(--overlay-bg-image), .58891) 40.6%, rgba(var(--overlay-bg-image), .50925) 46.2%, rgba(var(--overlay-bg-image), .42866) 51.7%, rgba(var(--overlay-bg-image), .34817) 57.2%, rgba(var(--overlay-bg-image), .2693) 62.8%, rgba(var(--overlay-bg-image), .19309) 68.7%, rgba(var(--overlay-bg-image), .12126) 75.2%, rgba(var(--overlay-bg-image), .05882) 82.6%, rgba(var(--overlay-bg-image), .01457) 91.2%, rgba(var(--overlay-bg-image), 0));
}

@media (max-width:480px) {
    .gh-head-cover {
       height: 300px;
    }
}
 
@media (min-width:481px) and (max-width:767px) {
    .gh-head-cover {
       height: 450px;
    }
}


/* 5. Site Navigation
/* ---------------------------------------------------------- */

.gh-head {
    padding: 4vmin;
    color: var(--color-foreground);
}

.gh-head a {
    color: inherit;
    text-decoration: none;
}

.gh-head-inner {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-auto-flow: row dense;
}


/* Brand
/* ---------------------------------------------------------- */

.gh-head-brand {
    display: flex;
    align-items: center;
    max-width: 360px;
    text-align: center;
    word-break: break-all;
}

a.gh-head-logo {
    color: var(--color-smooth-accent);
}

a.gh-head-logo:hover,
a.gh-head-logo.hover {
    color: var(--color-foreground);
}

.gh-head-logo,
.gh-head-logo h1 {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 1.2em;
    letter-spacing: .01em;
    margin: 0;
}

.gh-head-logo img {
    max-height: 56px;
}

.gh-head-logo svg {
    height: 56px;
    width: 56px;
}

@media (max-width: 400px) {
    .gh-head-logo,
    .gh-head-logo h1 {
        font-size: 2rem;
    }
    .gh-head-logo img {
        max-height: 40px;
    }
    .gh-head-logo svg {
        height: 40px;
        width: 40px;
    }
}


/* Primary Navigation
/* ---------------------------------------------------------- */

.gh-head-menu {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.gh-head-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gh-head-menu .nav li {
    margin: 0 2.5vmin 0 0;
    padding: 0;
}

.gh-head-menu .nav a {
    display: inline-block;
    color: var(--color-smooth-accent);
}

.gh-head-menu .nav a:hover,
.gh-head-menu .nav a.hover {
    color: var(--color-foreground);
}

.gh-head-menu .nav .nav-current a {
    color: var(--color-foreground);
}


/* Search
/* ---------------------------------------------------------- */

.gh-head-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-align: right;
    color: var(--color-smooth-accent);
    fill: var(--color-smooth-accent);
}

.gh-head-actions-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.gh-head-actions-list a:not([class]) {
    display: inline-block;
    margin: 0 0 0 1.5vmin;
    padding: 5px 0;
}

.gh-search {
    cursor: pointer;
}

.gh-search:hover {
    color: var(--color-foreground);
}

.gh-search svg {
    height: 28px;
    width: 28px;
}

.gh-search span {
    display: none;
}

@media (max-width: 900px) {
    .gh-search {
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 1.1em;
    }
    .gh-search span {
        display: initial;
        margin-right: .3em;
    }
    .gh-search svg {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 600px) {
    .gh-search {
        font-size: 6vmin;
    }
    .gh-search svg {
        height: 7vmin;
        width: 7vmin;
    }
}

/* Search function
/* ---------------------------------------------------------- */
.search-section {
    z-index: 999999;
    display: none;
}
 
.search-section,
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.search-overlay {
    z-index: 997;
    background-color: color-mod(var(--color-darkest) a(.96));
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important
}
 
.search-content {
    position: relative;
    z-index: 999999;
    top: 20vmin;
    overflow: hidden;
    width: calc(100% - 50px);
    max-width: 600px;
    margin: 0 auto;
}

.search-content,
.search-form input,
.search-meta,
.search-results {
    box-sizing: border-box;
}

.search-meta,
.search-results small {
    font-family: var(--font-mono);
    font-size: 1.3rem;
    display: block;
    width: 100%;
}

/* Close
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-close {
    position: absolute;
    z-index: 999;
    top: calc(4vmin + 14px);
    right: 95px;
    cursor: pointer;
}

.search-close svg {
    width: 32px;
    height: 32px;
    fill: #fff;
}

/* Form */
.search-form input {
    font-size: 1.6rem;
    display: block;
    width: 100%;
    padding: 12px 20px;
    color: var(--color-darkgrey);
    border: none;
    border-radius: 40px;
}

/* Meta */
.search-meta {
    margin: 0;
    padding: 8px 0 8px 20px;
    text-align: left;
    color: #fff;
}

.search-meta .is-hide {
    display: none;
}

/* Results
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-results {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: calc(100vh - 16vh - 140px);
    padding: 0 15px 0 20px;
}

.search-results small {
    margin-bottom: 6px;
    color: color-mod(#fff a(.8));
}

.search-results small:first-of-type {
    margin-top: 20px;
}

.search-results a {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    display: inline-block;
    margin: 0 0 28px;
    border: none;
}

.search-results a:last-of-type {
    margin-bottom: 25px;
}

/* If active
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-is-active {
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
}

.search-is-active .global-wrap {
    overflow-x: hidden;
    overflow-y: scroll;
}

.search-is-active .search-section {
    -webkit-animation: showSearch .2s ease forwards;
    animation: showSearch .2s ease forwards;
}

@-webkit-keyframes showSearch {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes showSearch {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Hiding the scrollbar
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width:1025px) {
    .search-section:after {
        position: absolute;
        z-index: 996;
        top: 0;
        right: 0;
        width: 17px;
        height: 100%;
        content: '';
    }
}

/* RWD — Search function
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:480px) {
    .search-content {
        width: calc(100% - 30px);
    }
    .search-form input {
        font-size: 1.6rem;
        padding: 10px 20px;
    }
    .search-meta,
    .search-results {
        padding-left: 15px;
    }
    .search-results a {
        font-size: 16px;
    }
}
 
 @media (max-width:1024px) {
    .search-close {
        display: none;
    }
}


/* Mobile Menu Trigger
/* ---------------------------------------------------------- */

.gh-burger {
    position: relative;
    display: none;
    cursor: pointer;
}

.gh-burger-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}

.gh-burger-inner {
    width: 100%;
    height: 100%;
}

.gh-burger-box::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 2px;
    background: currentcolor;
    transition: transform 300ms cubic-bezier(.2,.6,.3,1), width 300ms cubic-bezier(.2,.6,.3,1);
    will-change: transform, width;
}

.gh-burger-inner::before,
.gh-burger-inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 2px;
    background: currentcolor;
    transition: transform 250ms cubic-bezier(.2,.7,.3,1), width 250ms cubic-bezier(.2,.7,.3,1);
    will-change: transform, width;
}

.gh-burger-inner::before {
    transform: translatey(-6px);
}
.gh-burger-inner::after {
    transform: translatey(6px);
}

body:not(.gh-head-open) .gh-burger:hover .gh-burger-inner::before {
    transform: translatey(-8px);
}
body:not(.gh-head-open) .gh-burger:hover .gh-burger-inner::after {
    transform: translatey(8px);
}

.gh-head-open .gh-burger-box::before {
    width: 0;
    transform: translatex(19px);
    transition: transform 200ms cubic-bezier(.2,.7,.3,1), width 200ms cubic-bezier(.2,.7,.3,1);
}

.gh-head-open .gh-burger-inner::before {
    width: 26px;
    transform: translatex(6px) rotate(135deg);
}

.gh-head-open .gh-burger-inner::after {
    width: 26px;
    transform: translatex(6px) rotate(-135deg);
}


/* Mobile Menu
/* ---------------------------------------------------------- */
/* IDs needed to ensure sufficient specificity */

@media (max-width: 900px) {
    .gh-burger {
        display: inline-block;
        margin-top: 4px;
    }
    #gh-head {
        /* transition: all 0.4s ease-out; */
        overflow: hidden;
    }
    #gh-head .gh-head-inner {
        height: 100%;
        grid-template-columns: 1fr;
    }
    #gh-head .gh-head-brand {
        position: relative;
        z-index: 10;
        grid-column-start: auto;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }
    #gh-head .gh-head-menu {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 10vh 0;
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 1.1em;
    }
    #gh-head .gh-head-menu .nav li {
        margin: 5px 0;
    }
    #gh-head .gh-head-menu .nav a {
        padding: 8px 0;
    }
    #gh-head .gh-head-menu .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #gh-head .gh-head-actions {
        padding: 20px 0;
        justify-content: center;
        text-align: left;
    }
    #gh-head .gh-head-actions a {
        margin: 0 10px;
    }
    /* Hide collapsed content */
    #gh-head .gh-head-actions,
    #gh-head .gh-head-menu {
        display: none;
    }
    /* Open the menu */
    .gh-head-open {
        overflow: hidden;
        height: 100vh;
    }
    .gh-head-open #gh-head {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999998;
        overflow-y: scroll;
        background: var(--color-background);
    }
    .gh-head-open #gh-head .gh-head-inner {
        grid-template-rows: auto 1fr auto;
    }
    .gh-head-open #gh-head .gh-head-actions,
    .gh-head-open #gh-head .gh-head-menu {
        display: flex;
    }
}

@media (max-width: 600px) {
    #gh-head .gh-head-menu {
        font-size: 6vmin;
    }
}


/* 6. Post Feed
/* ---------------------------------------------------------- */

.post-feed {
    position: relative;
    display: grid;
    grid-template-columns: 760px;
    padding: 40px 0;
}

.post-feed > * + * {
    margin-top: 3vmin;
}

@media (max-width: 500px) {
    .post-feed > * + * {
        margin-top: 5vmin;
    }
}

@media (max-width: calc(760px + 8vmin)) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}

.post-card {
    display: flex;
    flex-direction: column;
    color: var(--color-foreground);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 1.2em;
}

.post-card > * + * {
    margin-top: 1.3em;
}

.post-card:hover,
.post-card.hover {
    border-color: var(--color-link-hover);
}

.post-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -o-object-fit: cover;
    max-height: 360px;
}

.post-card-content-link {
    position: relative;
    display: block;
    color: var(--color-foreground);
}

.post-card-content-link:hover {
    text-decoration: none;
}

.post-card-header {
    margin: 20px 0 0;
}

.post-feed .no-image .post-card-content-link {
    padding: 0;
}

.no-image .post-card-header {
    margin-top: 0;
}

.post-card-title {
    margin: 0;
    font-size: 3.2rem;
}

.no-image .post-card-title {
    margin-top: 0;
}

/* .post-card-excerpt p {
    margin-bottom: 1em;
    display: -webkit-box;
    overflow-y: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
} */

@media (max-width: 600px) {
    .post-card-title {
        font-size: 2.4rem;
    }

    .post-card-excerpt {
        font-size: 1.6rem;
        line-height: 1.6em;
    }
}

/* Pagination & Load more
/* ---------------------------------------------------------- */
 
/* Fixes Ghost rendering error */
.pagination {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.pagination-section {
    display: grid;
    grid-template-columns: 760px;
}

@media (max-width: calc(760px + 8vmin)) {
    .pagination-section {
        grid-template-columns: 1fr;
    }
}

.pagination-wrap {
    display: flex;
    justify-content: center;
}

.btn,
a.btn {
    color: var(--color-btn-foreground);
    font-size: 1.8rem;
    text-decoration: none;
    padding: .1em .6em;
    background: color-mod(var(--color-btn-background) a(.3));
    border-radius: 4px;
    font-weight: 700;
    border: none;
    transition: var(--link-animation);
}

.btn:hover,
.btn.hover,
a.btn:hover,
a.btn.hover {
    background: color-mod(var(--color-btn-background) a(.5));
    transition: var(--link-animation);
}

/* 6.1. Clean Post Feed
/* ---------------------------------------------------------- */

.clean-posts {
    padding: 40px 0;
}

@media (max-width: 600px) {
    .clean-posts {
        padding: 6vmin 0;
    }
}

.clean-posts-feed a {
    border-bottom: 1px solid color-mod(var(--color-link) a(.2));
}

.clean-posts-feed a:hover,
.clean-posts-feed a.hover {
    color: var(--color-link-hover);
    border-bottom-color: color-mod(var(--color-link-hover) a(.2));
}

.clean-posts-feed .clean-post-card {
    display: inline-block;
    width: 100%;
    padding: 0;
    max-width: 380px;
    margin: 0 0 1.1em;
}

.clean-posts-feed .post-card-image {
    height: 100%;
    width: 100%;
    max-width: 200px;
    margin-bottom: .5em;
    border-radius: 4px;
}

.clean-posts-feed .post-card-title {
    font-size: 1.8rem;
    line-height: 1.4em;
    font-weight: 400;
    margin: 0;
}

.clean-posts-feed .post-card-title span {
    margin: 0 4px 0 -20px;
}

@media (max-width: 600px) {
    .clean-posts-feed .clean-post-card {
        margin: 0 0 1.3em;
    }
    .clean-posts-feed .post-card-title span {
        margin-left: 0;
    }
}

.clean-posts .clean-posts-feed {
    width: 100%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 4%;
    -moz-column-gap: 4%;
    column-gap: 4%;
    list-style: none;
    padding: 0;
}

@media (max-width: 880px) {
    .clean-posts .clean-posts-feed {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .clean-posts .clean-posts-feed {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

.clean-posts-feed li > a {
    border: none;
}


/* 7. Single Post
/* ---------------------------------------------------------- */

.article {
    padding: 4vmin 0;
}

.article-tag {
    text-transform: capitalize;
}

.article-title {
    margin-bottom: 16px;
}

.article-excerpt {
    margin-bottom: 3vmin;
    opacity: 0.7;
    font-style: italic;
}

.gh-canvas .article-image {
    grid-column: main-start / main-end;
    width: 100%;
    margin: 0 0 4vmin;
}

.gh-canvas .article-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -------- */

/* Content grid
/* ---------------------------------------------------------- */

/* Canvas creates a multi-column, centered grid which the post
is laid out on top of. Canvas just defines the grid, we don't
use it for applying any other styles. */

.gh-canvas {
    display: grid;
    grid-template-columns:
        [full-start]
        minmax(4vmin, auto)
            [main-start]
                min(720px, calc(100% - 8vw))
            [main-end]
            minmax(auto, 80px)
            [aside-start]
            minmax(auto, 240px)
            [aside-end]
            minmax(auto, 200px)
            [wide-end]
        minmax(4vmin, auto)
        [full-end]
    ;
}

.gh-canvas > * {
    grid-column: main-start / main-end;
}

hr {
    grid-column: main-start / wide-end !important;
}

.article-header aside,
.gh-content aside {
    grid-column: aside-start / aside-end;
    grid-row: span 6;
}

@media (max-width: 1090px) {
    .article-header aside,
    .gh-content aside {
        grid-column: main-start;
        grid-row: initial;
    }
}

.kg-width-wide {
    grid-column: main-start / wide-end;
}

.kg-width-full {
    grid-column: full-start / full-end;
}

.kg-width-full img {
    width: 100%;
}


/* Content
/* ---------------------------------------------------------- */

/* Content refers to styling all page and post content that is
created within the Ghost editor. The main content handles
headings, text, images and lists. We deal with cards lower down. */

/* Default vertical spacing */
.gh-content > * + * {
    margin-top: 3vmin;
    margin-bottom: 0;
}

@media (max-width: 650px) {
    .gh-content > * + * {
        margin-top: 5.5vmin;
    }    
}

/* [id] represents all headings h1-h6, reset all margins */
.gh-content > [id] {
    margin: 0;
    color: var(--color-foreground);
}

/* Add back a top margin to all headings, unless a heading
is the very first element in the post content */
.gh-content > [id]:not(:first-child) {
    margin: 1.5em 0 0;
}

/* Add a small margin between a heading and anything after it */
.gh-content > [id] + * {
    margin-top: 1.5rem !important;
}

/* A larger margin before/after HRs and blockquotes */
.gh-content > hr,
.gh-content > blockquote {
    position: relative;
    margin-top: 5vmin;
}
.gh-content > hr + *,
.gh-content > blockquote + * {
    margin-top: 5vmin !important;
}

/* Now the content typography styles */
.gh-content a {
    color: var(--color-link);
    border-bottom: 1px solid color-mod(var(--color-link) a(.2));
    word-break: break-word;
}

.gh-content a:hover,
.gh-content a.hover {
    color: var(--color-link-hover);
    border-bottom-color: color-mod(var(--color-link-hover) a(.2));
}

.article-excerpt,
.gh-content .highlight,
.gh-content > blockquote,
.gh-content > ol,
.gh-content > ul,
.gh-content > dl,
.gh-content > p {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.6em;
    letter-spacing: -.015em;
}

.gh-content > ul,
.gh-content > ol,
.gh-content > dl {
    padding-left: 1.9em;
}

.gh-content li::marker {
    color: var(--ghost-accent-color);
}

.gh-content > blockquote {
    position: relative;
    font-style: italic;
    padding: 0;
}

.gh-content > blockquote::before {
    content: "";
    position: absolute;
    left: -1.5em;
    top: 0;
    bottom: 0;
    width: 0.4rem;
    background: var(--ghost-accent-color);
}

.gh-content :not(pre) > code {
    padding: 0.15em 0.4em;
    font-weight: 400 !important;
    font-size: 0.95em;
    line-height: 1em;
    background: var(--color-code-background);
    border-radius: 0.25em;
}

.gh-content pre {
    padding: 1.2em;
    color: var(--color-pre-foreground);
    font-size: 1.6rem;
    line-height: 1.5em;
    background: var(--color-pre-background);
    border-radius: 8px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 650px) {
    .article-excerpt,
    .gh-content blockquote,
    .gh-content ol,
    .gh-content ul,
    .gh-content dl,
    .gh-content p {
        font-size: 1.8rem;
    }

    .gh-content blockquote::before {
        left: -4vmin;
    }
}

.article-header aside > * {
    max-width: 240px;
    position: absolute;
}

.gh-content aside {
    max-width: 240px;
}

.gh-content aside p {
    font-size: 1.6rem;
}

.gh-content aside > * + * {
    margin: 1vmin 0 0;
}

@media (max-width: 1090px) {
    .gh-content aside {
        max-width: 320px;
    }
    .article-header aside > * {
        max-width: 320px;
        position: initial;
    }
}

@media (max-width: 600px) {
    .gh-content aside p {
        font-size: 1.4rem;
    }
}


/* Cards
/* ---------------------------------------------------------- */

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

/* Captions */
.kg-card figcaption {
    padding: 1.5vmin 0 0;
    text-align: left;
    color: var(--color-smooth-accent);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5em;
}
.kg-card figcaption strong {
    color: rgba(0,0,0,0.8);
}

/* Highly specific styles for traditional Instagram embeds */
iframe.instagram-media + script + :not([id]) {
    margin-top: 6vmin;
}

.jouele-card {
    font-size: 1.4rem;
}

.jouele-control code {
    cursor: pointer;
    margin-right: 4px;
}

.timecodes * {
    padding: 0;
    font-size: 1.7rem;
    letter-spacing: -.01em;
}

@media (max-width: 600px) {
    .timecodes * {
        font-size: 1.6rem;
    }
}

.timecodes ul {
    list-style: none;
    margin: -.8em 0 0;
    padding: 0;
}

.kg-embed-card > iframe[title*="Spotify Embed"],
.kg-embed-card > iframe[id*="telegram"] {
    max-width: 500px;
    width: 100%;
}

.kg-embed-card .twitter-tweet {
    margin: 0 !important;
}

.kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
}

.jouele.jouele_inited{display:block;position:relative;line-height:1.15;width:100%}.jouele-progress{position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.jouele-progress-line{position:relative;height:.8em}.jouele-progress-line.jouele-is-available{cursor:pointer}.jouele-progress-line-bar_base,.jouele-progress-line-bar_play{position:absolute;top:0;left:0;height:100%;box-sizing:border-box}.jouele-progress-line-bar_play{top:0;left:0}.jouele-progress-line-bar_base{width:100%}.jouele-progress-line-bar_play.jouele-is-unavailable{display:none}.jouele-progress-line.jouele-is-available .jouele-progress-line-bar_play{cursor:pointer}.jouele-progress-line-bar_base:after,.jouele-progress-line-bar_play:after{content:'';position:absolute;top:50%;left:0;right:0;height:1px}.jouele-progress-line-bar_base:after{background-color:var(--color-border)}.jouele-progress-line-bar_play:after{background-color:var(--color-foreground);transition:background-color .16s linear}.jouele-progress-line-bar_play.jouele-is-playing:after{background-color:var(--ghost-accent-color)}.jouele-progress-line:hover .jouele-progress-line-bar_play:after{background-color:var(--ghost-accent-color);transition:none}.jouele-progress-line-lift{left:0;top:50%;width:5px;height:5px;margin:-2px 0 0;border-radius:50%;background-color:var(--color-foreground);position:absolute;transition:width .16s linear,height .16s linear,margin .16s linear,background-color .16s linear}.jouele-progress-line-lift.jouele-is-playing{background-color:var(--ghost-accent-color)}.jouele-progress-line-lift.jouele-is-unavailable{display:none}.jouele-progress-line.jouele-is-available .jouele-progress-line-lift{cursor:pointer}.jouele-progress-line:hover .jouele-progress-line-lift{background-color:var(--ghost-accent-color);width:7px;height:7px;margin-top:-3px;margin-left:-1px;transition:none}.jouele-progress-line-lift:before{content:'';width:100%;height:100%;padding:2px;display:block;font-size:0;position:absolute;left:-3px;top:-3px;border:1px solid var(--color-foreground);border-radius:50%;transition:border-color .16s linear,opacity .16s linear;-webkit-animation:preloader-animate .75s ease infinite;-moz-animation:preloader-animate .75s ease infinite;-o-animation:preloader-animate .75s ease infinite;animation:preloader-animate .75s ease infinite;display:none\0/;opacity:0}.jouele-progress-line-lift.jouele-is-buffering:before{opacity:1;display:block\0/}.jouele-progress-line-lift.jouele-is-playing:before{border-color:#f59331}.jouele-progress-line:hover .jouele-progress-line-lift:before{border-color:var(--ghost-accent-color);transition:none}@-webkit-keyframes preloader-animate{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}}@-moz-keyframes preloader-animate{0%{-moz-transform:scale(1);transform:scale(1)}50%{-moz-transform:scale(1.2);transform:scale(1.2)}100%{-moz-transform:scale(1);transform:scale(1)}}@-o-keyframes preloader-animate{0%{-o-transform:scale(1);transform:scale(1)}50%{-o-transform:scale(1.2);transform:scale(1.2)}100%{-o-transform:scale(1);transform:scale(1)}}@keyframes preloader-animate{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}.jouele-info{position:relative;overflow:hidden;padding:0 0 .2em;margin:0 0 0 -.3em;z-index:1}.jouele-info-control{overflow:hidden;font-size:1em;line-height:1}.jouele-info-control *{line-height:1}.jouele-info-control-button{float:left;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.jouele-info-control-link{cursor:pointer;padding:0!important;margin:0!important;background:0 0!important;display:block!important;text-decoration:none!important;border:0!important;color:currentColor!important}.jouele-info-control-button-icon{display:none}.jouele-info-control-button-icon_unavailable{display:block}.jouele-info-control-button-icon_play.jouele-is-available{display:block}.jouele-svg{vertical-align:middle;width:1.15em;height:1.15em}.jouele-svg-color{transition:fill .16s linear}.jouele-info-control-button-icon_play .jouele-svg-color,.jouele-info-control-button-icon_unavailable .jouele-svg-color{fill:var(--color-foreground)}.jouele-info-control-button-icon_play.jouele-is-playing .jouele-svg-color{fill:var(--ghost-accent-color)}.jouele-info-control-button:hover .jouele-info-control-button-icon_play .jouele-svg-color{fill:var(--ghost-accent-color);transition:none}.jouele-info-control-text{line-height:1.15!important;padding:0 2em 0 0;overflow:hidden;word-wrap:break-word;white-space:normal}.jouele-info-time{float:right;font-size:.8em;line-height:1.4375!important;color:var(--color-smooth-accent);text-align:right;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.jouele-info-time__current{float:left;margin-right:.65em}.jouele-info-time__total{float:right}.jouele-info-time__current.jouele-is-unavailable,.jouele-info-time__total.jouele-is-unavailable{display:none}.jouele_timeline_hide .jouele-progress-line{margin-top:-.8em;display:none\0/;opacity:0;transition:opacity .33s ease-out,margin-top .33s ease-out}.jouele_timeline_hide .jouele-progress-line.jouele-is-playing{margin-top:0;opacity:1;display:block\0/}.jouele-hidden{display:none!important}.jouele-skin-dark .jouele-progress-line-bar_base:after{background-color:var(--color-border)}.jouele-skin-dark .jouele-progress-line-bar_play:after{background-color:currentColor}.jouele-skin-dark .jouele-progress-line-bar_play.jouele-is-playing:after{background-color:var(--ghost-accent-color)}.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-bar_play:after{background-color:var(--ghost-accent-color)}.jouele-skin-dark .jouele-progress-line-lift{background-color:currentColor}.jouele-skin-dark .jouele-progress-line-lift.jouele-is-playing{background-color:#var(--ghost-accent-color)}.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-lift{background-color:var(--ghost-accent-color)}.jouele-skin-dark .jouele-progress-line-lift:before{border-color:currentColor}.jouele-skin-dark .jouele-progress-line-lift.jouele-is-playing:before{border-color:var(--ghost-accent-color)}.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-lift:before{border-color:var(--ghost-accent-color)}.jouele-skin-dark .jouele-info-control-button-icon_play .jouele-svg-color,.jouele-skin-dark .jouele-info-control-button-icon_unavailable .jouele-svg-color{fill:currentColor}.jouele-skin-dark .jouele-info-control-button-icon_play.jouele-is-playing .jouele-svg-color{fill:var(--ghost-accent-color)}.jouele-skin-dark .jouele-info-control-button:hover .jouele-info-control-button-icon_play .jouele-svg-color{fill:var(--ghost-accent-color)}.jouele-skin-dark .jouele-info-time{color:inherit}

.gh-content .highlight {
    background: var(--color-highlight);
    padding: 1.2em;
    border-radius: 8px;
}

.gh-content .highlight > * + * {
    margin-top: 2.5vmin;
}

/* Images
/* ---------------------------------------------------------- */

.article-image img,
.highlight img,
.kg-image-card:not(.kg-width-full) img,
aside img {
    border-radius: 8px;
}

/* Custom settings for lightense-images.js */
.lightense-backdrop {
    z-index: 99998 !important;
    background-color: var(--color-background) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important
}

.lightense-wrap ~ br,
.lightense-wrap ~ small {
    display:none
}

.lightense-wrap img {
    border-radius: 0 !important
}


/* Galleries
/* ---------------------------------------------------------- */

.kg-image-card + .kg-gallery-card,
.kg-gallery-card + .kg-image-card,
.kg-gallery-card + .kg-gallery-card {
    margin-top: 0.75em;
}

.kg-image-card.kg-card-hascaption + .kg-gallery-card,
.kg-gallery-card.kg-card-hascaption + .kg-image-card,
.kg-gallery-card.kg-card-hascaption + .kg-gallery-card {
    margin-top: 1.75em;
}

.kg-gallery-container {
    position: relative;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.gh-content .kg-gallery-row:last-of-type .kg-gallery-image:first-of-type img {
    border-bottom-left-radius: 8px;
}
.gh-content .kg-gallery-row:first-of-type .kg-gallery-image:first-of-type img {
    border-top-left-radius: 8px;
}

.gh-content .kg-gallery-row:last-of-type .kg-gallery-image:last-of-type img {
    border-bottom-right-radius: 8px;
}
.gh-content .kg-gallery-row:first-of-type .kg-gallery-image:last-of-type img {
    border-top-right-radius: 8px;
}


/* Bookmark Cards
/* ---------------------------------------------------------- */

.kg-bookmark-card,
.kg-bookmark-publisher {
    position: relative;
    width: 100%;
}

.kg-bookmark-container,
.kg-bookmark-container:hover,
.kg-bookmark-container.hover {
    display: flex;
    color: currentColor;
    font-family: var(--font-sans-serif);
    text-decoration: none !important;
    border-radius: 8px;
    border: 1px solid var(--color-border) !important;
    /* box-shadow: 0 2px 6px -2px color-mod(var(--color-smooth-accent) a(.5)), 0 0 1px color-mod(var(--color-smooth-accent) a(.5)); */
    overflow: hidden;
}

.kg-bookmark-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.kg-bookmark-title {
    font-size: 1.6rem;
    line-height: 1.5em;
    font-weight: 600;
    color: var(--color-foreground);
}

.kg-bookmark-description {
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 1.5em;
    margin-top: 3px;
    color: var(--color-smooth-accent);
    font-weight: 400;
    max-height: 44px;
    overflow-y: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-metadata {
    display: flex;
    align-items: center;
    margin-top: 22px;
    width: 100%;
    color: var(--color-smooth-accent);
    font-size: 1.4rem;
    font-weight: 500;
}

.kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 4px;
}

.kg-bookmark-author,
.kg-bookmark-publisher {
    display: inline;
}

.kg-bookmark-publisher {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
    white-space: nowrap;
    display: block;
    line-height: 1.65em;
}

.kg-bookmark-metadata > span:nth-of-type(2) {
    color: color-mod(var(--color-smooth-accent) a(.7));
    font-weight: 400;
}

.kg-bookmark-metadata > span:nth-of-type(2):before {
    content: "•";
    color: color-mod(var(--color-smooth-accent) l(+4%));
    margin: 0 6px;
}

.kg-bookmark-thumbnail {
    position: relative;
    flex-grow: 1;
    min-width: 33%;
}

.kg-bookmark-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 4px 4px 0;
}


/* Card captions
/* ---------------------------------------------------------- */

.kg-width-full.kg-card-hascaption {
    display: grid;
    grid-template-columns: inherit;
}

.kg-width-wide.kg-card-hascaption img {
    grid-column: wide-start / wide-end;
}
.kg-width-full.kg-card-hascaption img {
    grid-column: 1 / -1;
}

.kg-width-full.kg-card-hascaption figcaption {
    grid-column: main-start / main-end;
}

.article-comments {
    margin: 6vmin 0 0 0;
}

/* -----old------ */

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
}


/* Tables
/* ---------------------------------------------------------- */

.gh-content table {
    display: inline-block;
    overflow-x: auto;
    margin: 1.2em 0 3em;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: var(--font-sans-serif);
    font-size: 1.5rem;
    white-space: nowrap;
    vertical-align: top;
}

.gh-content table {
    -webkit-overflow-scrolling: touch;
}

.gh-content table td:first-child,
.gh-content table th:first-child {
    padding-left: 0;
}

.gh-content table th {
    text-align: left;
}

.gh-content table th,
.gh-content table td {
    padding: 6px 12px;
}

.gh-content table thead tr:first-child > * {
    padding-top: 0;
}

.gh-content table tbody tr:last-child > * {
    padding-bottom: 0;
}

.gh-content table + * {
    margin-top: 0 !important;
}


/* 7.1. Post Byline
/* ---------------------------------------------------------- */

.article-byline {
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: var(--color-smooth-accent);
    font-family: var(--font-mono);
}

.article-header .article-byline {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .article-byline {
        font-size: 1.3rem;
    }
}

.article-byline a {
    color: var(--color-smooth-accent);
    border-bottom: 1px solid color-mod(var(--color-smooth-accent) a(20%));
}

.article-byline a:hover,
.article-byline a.hover {
    color: var(--color-link-hover);
    border-bottom-color: color-mod(var(--color-link-hover) a(20%));
}

.article-byline .article-byline-tags a::before {
    content: "#";
    padding-right: 1px;
}

.article-byline .bull {
    opacity: 0.2;
}

.article-byline .article-byline-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-byline .article-date {
    margin-right: 20px;
}

.article-byline .article-byline-tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-byline .article-byline-tags li {
    margin: 0 8px 0 0;
    padding: 0;
    display: inline-block;
}

@media (max-width: 600px) {
    .article-byline .article-byline-meta {
        flex-direction: column;
        align-items: flex-start;
    }
    .article-byline .article-date {
        margin: 0 0 12px;
    }
}


/* 7.2. Post Share
/* ---------------------------------------------------------- */

.article-share-section {
    margin-top: 32px;
}
 
.article-share-wrap {
    position: relative;
    display: flex;
}

.article-share-wrap a {
    display: flex;
    height: 32px;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 12px;
    padding: 0 12px;
    background: color-mod(var(--color-btn-background) a(.3));
}

.article-share-wrap svg {
    width: 20px;
    height: 20px;
    transition: fill .15s ease;
    fill: var(--color-btn-foreground);
}

.article-share-wrap a.share-fb:hover {
    background: color-mod(var(--color-fb) var(--share-btn-blend));
}

.article-share-wrap a.share-vk:hover {
    background: color-mod(var(--color-vk) var(--share-btn-blend));
}

.article-share-wrap a.share-tw:hover {
    background: color-mod(var(--color-tw) var(--share-btn-blend));
}

.article-share-wrap a.share-tg:hover {
    background: color-mod(var(--color-tg) var(--share-btn-blend));
}

.article-share-wrap a.article-copy-link:hover {
    background: color-mod(var(--color-link-hover) var(--share-btn-blend));
}

/* Copy link
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
.article-share-section > input {
    display: block;
    cursor: default;
    opacity: 0;
    color: transparent;
    height: 20px;
}

.article-copy-link {
    cursor: pointer;
}

.article-copy-link svg {
    width: 20px;
    height: 20px;
}

.article-copy-link + small {
    opacity: 0;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.333 12.643l7.66-7.66 1.18 1.178L8.332 15 3.03 9.697l1.178-1.179 4.125 4.125z' /%3E%3C/svg%3E");
    width: 20px;
    margin-left: -8px;
}

.article-copy-link:not(:active) + small {
    transition: opacity 10s step-end;
}

.article-copy-link:active + small {
    opacity: 1;
}


/* 7.3. Subscribe
/* ---------------------------------------------------------- */




/* 7.4. Read more
/* ---------------------------------------------------------- */

.read-next {
    color: var(--color-foreground);
}

.read-next-feed {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 0;
    margin: 0 -15px;
}

.read-next .post-card {
    max-width: 100%;
}

.read-next-card {
    position: relative;
    flex: 0 1 326px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 15px 32px;
}

.read-next-feed .post-card-wrapper {
    flex: 1 1 301px;
    flex-direction: column;
    margin: 0 0 32px;
    max-width: 100%;
    padding: 0 15px;
}

@media (max-width: 965px) {
    .read-next-feed .post-card-wrapper {
        margin: 0 0 32px;
        flex: none;
    }
}

.read-next-feed .post-card-wrapper .post-card-image {
    height: 100%;
}

.read-next-feed .post-card-wrapper .post-card-title {
    font-size: 2.8rem;
}

.read-next-feed .post-card-wrapper .post-card-excerpt {
    font-size: 1.6rem;
    line-height: 1.6em;
    letter-spacing: -.01em;
}

.read-next-card a:hover,
.read-next-card a.hover {
    text-decoration: none;
    color: var(--color-link-hover);
}

.read-next-card-header {
    margin-bottom: 20px;
}

.read-next-card-header h2 {
    margin: 0;
    font-size: 2.4rem;
    line-height: 130%;
    font-weight: 800;
    letter-spacing: .01em;
}

.read-next-card-content {
    font-size: 1.7rem;
}

.read-next-card-content ul {
    padding: 0;
}

.read-next-card-content .post-card {
    margin-bottom: 20px;
}

.read-next-card-content li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 20px 0;
}

.read-next-card-content li:last-of-type {
    margin-bottom: 0;
}

.read-next-card-content .post-card-title {
    margin: 0;
    font-size: 1.6rem;
}

.read-next-card-excerpt {
    overflow: hidden;
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 1.2em;
    text-overflow: ellipsis;
}

.read-next-card-meta {
    margin-top: 2px;
    font-size: 1.2rem;
    line-height: 1.4em;
    font-weight: 400;
}

.read-next-card-meta p {
    margin: 0;
}

.read-next-card-footer {
    position: relative;
    margin: 40px 0 5px;
}

.read-next-card-footer a {
    padding: 7px 12px 8px 14px;
    font-size: 1.3rem;
    border-radius: 999px;
}

@media (max-width: 1170px) {
    .read-next-card {
        flex: 1 1 261px;
        margin-bottom: 40px;
    }
}

@media (max-width: 650px) {
    .read-next-feed {
        flex-direction: column;
        padding: 60px 0 0;
    }

    .read-next-card {
        flex: 1 1 auto;
        padding: 0;
        background: none;
    }

    .read-next .post-card {
        flex: 1 1 auto;
    }
}


/* 8. Home Template
/* ---------------------------------------------------------- */

.podcasts-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5.5vmin;
}

.podcast-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    background: var(--color-code-background);
    border-radius: 8px;
}

.podcasts-items a {
    color: var(--color-foreground);
}

.podcast-cover {
    width: 120px;
    height: 120px;
    margin-right: 24px;
    border-radius: 4px;
}

.podcast-title {
    font-size: 1.8rem;
    line-height: 1em;
    margin: 0 0 8px;
}

.podcast-excerpt {
    font-size: 1.6rem;
    line-height: 1.4em;
}

@media (max-width: 600px) {
    .podcasts-items {
        grid-template-columns: 1fr;
    }
    .podcast-item {
        align-items: start;
        flex-direction: column;
    }
    .podcast-cover {
        margin: 0 0 20px;
    }
    .podcast-title {
        margin: 0 0 10px;
    }
}



/* 8. Page Template
/* ---------------------------------------------------------- */

.page-content {
    margin-bottom: 20px;
}

.page-content > * {
    font-family: var(--font-sans-serif) !important;
    letter-spacing: 0 !important;
}

.page-content h1 {
    margin: .5em 0;
}

.page-content a {
    border-bottom: 1px solid color-mod(var(--color-link) a(.2));
}

.page-content a:hover,
.page-content a.hover {
    color: var(--color-link-hover);
    border-bottom-color: color-mod(var(--color-link-hover) a(.2));
}

.section-title {
    margin: 0 0 20px;
}

.section-title a {
    color: var(--color-smooth-accent);
}

.section-title a:hover,
.section-title a.hover {
    color: var(--color-foreground);
}

.section-excerpt {
    max-width: 720px;
    margin-bottom: 32px;
}

.clean-posts svg {
    width: 24px;
    height: 24px;
    fill: var(--ghost-accent-color);
    margin: 0 0 2px 8px;
}

@media (max-width: 600px) {
    .page-content {
        margin: 3vmin 0;
    }
    .section-title {
        margin-bottom: 3vmin;
    }
    .section-excerpt {
        margin-bottom: 7vmin;
    }
}

/* 9. Author Template
/* ---------------------------------------------------------- */




/* 10. Tag Template
/* ---------------------------------------------------------- */

.tag-name::first-letter {
    text-transform: uppercase;
}

.tag-name span {
    position: absolute;
    color: var(--color-background);
    font-weight: 400;
    font-size: .35em;
    margin-left: 5px;
    padding: 2px 7px;
    border-radius: 14px;
}

@media (max-width: 600px) {
    .tag-name span {
        font-size: .45em;
        padding: 2px 6px;
    }
}


/* 11. Error Template
/* ---------------------------------------------------------- */




/* 12. Site Footer
/* ---------------------------------------------------------- */

.gh-footer {
    font-size: 1.6rem;
    line-height: 1.6em;
    letter-spacing: .01em;
    color: var(--color-midgrey);
    background: var(--color-darkest);
    margin-top: 20vmin;
    border-top: 1px solid color-mod(#fff a(.1));
}

.gh-footer a {
    display: inline-block;
    color: var(--color-lightgrey);
    fill: var(--color-lightgrey);
}

.gh-footer a:hover,
.gh-footer a.hover {
    color: var(--color-midgrey);
    fill: var(--color-midgrey);
}

.site-footer-content {
    margin: 40px auto 10vmin;
}

.site-footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vmin;
    font-size: 1.8rem;
    font-weight: 500;
}

.site-footer-nav .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer-nav .nav li {
    margin: 0 2.5vmin 0 0;
    padding: 0;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-icons a {
    margin: 0 14px;
}

.footer-icons svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 900px) {
    .site-footer-nav {
        flex-direction: column;
        margin-bottom: 32px;
    }
    .footer-icons {
        margin-left: -2.5vmin;
    }
    .site-footer-nav .nav {
        margin-bottom: 32px;
    }
    .site-footer-nav .nav li {
        margin: 0 4vmin 0 0;
        line-height: 1.8em;
    }
}

@media (max-width: 600px) {
    .site-footer-content {
        margin: 10vmin auto;
    }
    .site-footer-nav,
    .site-footer-nav .nav {
        margin-bottom: 7vmin;
    }
}